@import "tailwindcss";
::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
}

#home {
  padding-top: 8rem;
  box-sizing: border-box;
}

/* Tablet and mobile screens */
@media (max-width: 1023px) {
  #home {
    padding-top: 11rem;
  }
}

/* Very small mobile screens */
@media (max-width: 480px) {
  #home {
    padding-top: 12rem;
  }
}
